<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Our Catalog </ion-title>
    <ion-buttons slot="end">
        <ion-icon routerLink="/add" slot="icon-only" name="add-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <ion-list>
      @for (course of tabCourses; track $index) {
      <ion-item [routerLink]="['/details', course.id]">
        <ion-avatar>
          <img [src]="course.logo" />
        </ion-avatar>
        <ion-label class="ion-margin-start"> {{ course.title }} </ion-label>
      </ion-item>

      }
    </ion-list>
  </div>
</ion-content>
